<nav class="navbar navbar-expand-xl navbar-light p-3 ">
  <div class="container-fluid">
    <a class="navbar-brand text-white pr-5" href="#">
      <img src="../../../assets/images/logo.jpg" height="40" width="220"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white pr-4 active" aria-current="page" href="#"><strong>FUTBOL</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white pr-4" href="#"><strong>BASKETBOL</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white pr-4" href="#"><strong>TENİS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white pr-4" href="#"><strong>FORMULA 1</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white pr-4" href="#"><strong>İZLE</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white pr-4" href="#"><i class="fa fa-bitcoin"></i><strong> CANLI SKOR</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white pr-4" href="#"><strong>DAHASI...</strong></a>
        </li>
      </ul>
<span>
<img src="../../../assets/images/resim6.jpg" height="46" width="57"/>
</span>

      <span class="navbar-text pr-4 pl-4">
       <i class='fa fa-instagram text-white' style="font-size:24px"></i>
      </span>

      <span class="navbar-text pr-4">
       <i class='fa fa-twitter text-white' style='font-size:24px'></i>
      </span>
      <span class="navbar-text pr-4">
       <i class="fa fa-youtube-play text-white" style="font-size:24px"></i>
      </span>
      <span class="navbar-text pr-4">
      <i class='fa fa-facebook text-white' style='font-size:24px'></i>
      </span>
      <span class="navbar-text">
      <i class='fa fa-search text-white' style='font-size:24px'></i>
      </span>

    </div>
  </div>
</nav>


  <div class="row pt-5 pb-5 shadow">
    <div class="col-sm-4 offset-sm-2">
  <h3><strong>ARAMA SONUCU</strong></h3>
  <small class="text-muted">Yaptığını <strong class="text-dark">"beşiktaş"</strong> araması için <strong class="text-dark">180.123</strong> haber sonucu bulundu.</small>
  </div>
  </div>
<div class="container pt-5">
  <div class="row">
    <div class="col">
      <p>❮ Geri dön</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h6 style="color: #fa4d88"><strong># BÜTÜN HABERLER</strong></h6>
      <h5 class="pt-3"><strong>Beşiktaş aradığı sağ beki süper lig'de buldu! Miguel Lopes</strong></h5>
      <p>41yaşındaki teknik trektör,yüksek ateş ve öksürük semptomlarıyla cerrah paşa tıp fakültesi hastanesi'ne başvurdu.<br>
        Koronavirüs tedavisine alınan müzisyen,durumu ağırlaşınca yoğun bakıma kaldırıldı.zamanla iyleşen müzisyen,<br>
        henüz konuşmakta güçlük çektiği için not yazdı.</p>

      <h5 class="pt-3"><strong>Miguel Lopes'e Beşiktaş Kancası</strong></h5>
      <p>Hes Kablo Kayserispor'un Portekizli futbolcusu Miquel Lopes'in İsmi Beşiktaş ile Anılıyor.</p>

      <h5 class="pt-3"><strong>Beşiktaş'ın Yeni Transferi Montero İstanbul'da!</strong></h5>
      <p>Beşiktaş'ta Son Dakika Trasfer Haberi...Siyah Beyazlıların Yeni Savunmacısı Francisco Montero, İstanbul'da İniş Yaptı.<br>
      Öte Yandan Yıldız Futbolcu,Daha Önce Sosyal Medya Hesabından İstanbul'a Geliş Fotoğrafı Paylaşmı'tı..
      </p>

      <h5 class="pt-3"><strong>Numaralar Belli Oldu</strong></h5>
      <p>Beşiktaş'ta Forma Numaraları Belli Oldu..</p>

      <h5 class="pt-3"><strong>Beşiktaş aradığı sağ beki süper lig'de buldu! Miguel Lopes</strong></h5>
      <p>41yaşındaki teknik trektör,yüksek ateş ve öksürük semptomlarıyla cerrah paşa tıp fakültesi hastanesi'ne başvurdu.<br>
        Koronavirüs tedavisine alınan müzisyen,durumu ağırlaşınca yoğun bakıma kaldırıldı.zamanla iyleşen müzisyen,<br>
        henüz konuşmakta güçlük çektiği için not yazdı.</p>

      <h5 class="pt-3"><strong>Miguel Lopes'e Beşiktaş Kancası</strong></h5>
      <p>Hes Kablo Kayserispor'un Portekizli futbolcusu Miquel Lopes'in İsmi Beşiktaş ile Anılıyor.</p>

      <h5 class="pt-3"><strong>Beşiktaş'ın Yeni Transferi Montero İstanbul'da!</strong></h5>
      <p>Beşiktaş'ta Son Dakika Trasfer Haberi...Siyah Beyazlıların Yeni Savunmacısı Francisco Montero, İstanbul'da İniş Yaptı.<br>
        Öte Yandan Yıldız Futbolcu,Daha Önce Sosyal Medya Hesabından İstanbul'a Geliş Fotoğrafı Paylaşmı'tı..
      </p>

      <h5 class="pt-3"><strong>Numaralar Belli Oldu</strong></h5>
      <p>Beşiktaş'ta Forma Numaraları Belli Oldu..</p>
      <h5 class="pt-3"><strong>Beşiktaş aradığı sağ beki süper lig'de buldu! Miguel Lopes</strong></h5>
      <p>41yaşındaki teknik trektör,yüksek ateş ve öksürük semptomlarıyla cerrah paşa tıp fakültesi hastanesi'ne başvurdu.<br>
        Koronavirüs tedavisine alınan müzisyen,durumu ağırlaşınca yoğun bakıma kaldırıldı.zamanla iyleşen müzisyen,<br>
        henüz konuşmakta güçlük çektiği için not yazdı.</p>

      <h5 class="pt-3"><strong>Miguel Lopes'e Beşiktaş Kancası</strong></h5>
      <p>Hes Kablo Kayserispor'un Portekizli futbolcusu Miquel Lopes'in İsmi Beşiktaş ile Anılıyor.</p>

      <h5 class="pt-3"><strong>Beşiktaş'ın Yeni Transferi Montero İstanbul'da!</strong></h5>
      <p>Beşiktaş'ta Son Dakika Trasfer Haberi...Siyah Beyazlıların Yeni Savunmacısı Francisco Montero, İstanbul'da İniş Yaptı.<br>
        Öte Yandan Yıldız Futbolcu,Daha Önce Sosyal Medya Hesabından İstanbul'a Geliş Fotoğrafı Paylaşmı'tı..
      </p>

      <h5 class="pt-3"><strong>Numaralar Belli Oldu</strong></h5>
      <p>Beşiktaş'ta Forma Numaraları Belli Oldu..</p>

    </div>
      <div class="col-md-4">
        <h6 style="color: #fa4d88" class=" pb-3"><strong># ÖNERİLENLER</strong></h6>
         <div class="d-flex">
           <img src="../../../assets/images/resim1.jpg" height="104" width="122"/>
           <p class="pl-3 pt-2"><strong style="color: #fa4d88">TENIS<br></strong><strong>Yeni Apple Watch Uygun<br>Fiyatlarla Apple Storede</strong></p>
         </div>
        <div class="d-flex pt-3">
          <img src="../../../assets/images/resim2.jpg" height="104" width="122"/>
          <p class="pl-3 pt-2"><strong style="color: #fa4d88">PREMIERE LİG<br></strong><strong>Tottenham İngiltere Ligini<br>Sallamaya ve Başarılarına<br>Devam Ediyor</strong></p>
        </div>
        <div class="d-flex pt -3">
          <img src="../../../assets/images/resim3.jpg" height="104" width="122"/>
          <p class="pl-3 pt-2"><strong style="color: #fa4d88">REKLAM<br></strong><strong>Yeni Apple Watch Uygun<br>Fiyatlarla Apple Storede</strong></p>
        </div>
        <div class="d-flex pt-3">
          <img src="../../../assets/images/resim4.jpg" height="104" width="122"/>
          <p class="pl-3 pt-2"><strong style="color: #fa4d88">FENERBAHÇE<br></strong><strong>Samandıra'da Mesai Başlıyor</strong></p>
        </div>
        <div class="d-flex pt-3">
          <img src="../../../assets/images/resim5.jpg" height="104" width="122"/>
          <p class="pl-3 pt-2"><strong style="color: #fa4d88">PREMIERE LİG<br></strong><strong>Man united,</strong></p>
        </div>


      </div>


  </div>
  </div>




