.backcolor {
  background-color: #5f0038;
}

#madrid {
  font-family: 'Cinzel Decorative';
  font-size: 50px;
  color: darkmagenta;
}

.nav-link {
  font-family: 'Crafty Girls';
  font-size: 22px;
  font-weight: bold;
  color: #080808;

}

.nav-item :hover {
  color: red;
}

.img {
  width: 100%;
  height: auto;

}

.kurdish h1 {
  position: absolute;
  left: 700px;
  bottom: 150px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 70px;

}

.kurdish h2 {
  position: absolute;
  left: 775px;
  bottom: 220px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 60px;
}


.button01 .btn {
  left: 765px;
  bottom: 65px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: "Sofia";
  font-size: 22px;
}

.button01 .btn:hover {
  background-color: white;
  color: darkorchid;
}

.button01 .btn1 {
  left: 965px;
  bottom: 65px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: "Sofia";
  font-size: 22px;
}

.button01 .btn1:hover {
  background-color: white;
  color: darkorchid;
}


.button01 .btn2 {
  left: 1165px;
  bottom: 65px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: "Sofia";
  font-size: 22px;
}

.button01 .btn2:hover {
  background-color: white;
  color: darkorchid;
}







