<div class="sidenav">
<div class="row pl-2">
  <div class="col-12">
    <h3><span class="text-muted">&nbsp;&nbsp;Flatkit</span>
      <img class="float-left" src="../../../assets/images/logo.jpg" height="40" width="40"/>
    </h3>


  </div>
</div>
  <br>
  <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Main</small>

  <div class="row pt-3">
    <div class="col-12 text-muted">

      <div class="">&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
        <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Dashboard</strong></div>

    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 text-muted">


      <div class="">
        <button type="button" class="btn  dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
          <span class="caret"></span>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Apps</strong>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-white">


      <div class="text-muted">
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Layouts</strong></div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-muted">


      <div class="">&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-menu-button-wide-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/>
        <path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Widgets</strong></div>

    </div>
  </div>
  <br>
  <small class="text-muted pt-3">&nbsp;&nbsp;&nbsp;&nbsp;Components</small>
  <div class="row pt-3">
    <div class="col-12 text-muted">
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
        <span class="caret"></span>
      </button>

      <div class="">&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Ulkit</strong></div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-muted">
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
        <span class="caret"></span>
      </button>

      <div class="">&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Pages</strong></div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-muted">
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
        <span class="caret"></span>
      </button>

      <div class="">&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-break" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
        <path d="M12 0H4a2 2 0 0 0-2 2v7h1V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v7h1V2a2 2 0 0 0-2-2zm2 12h-1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-2H2v2a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-2z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Form</strong></div>

    </div>
  </div>
  <div class="row ">
    <div class="col-12 text-muted">
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
        <span class="caret"></span>
      </button>

      <div class="">&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
        <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg><strong>&nbsp;&nbsp;&nbsp;Tables</strong></div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-muted">
      <button type="button" class="btn  dropdown-toggle dropdown-toggle-split float-right" data-toggle="dropdown">
        <span class="caret"></span>
      </button>

      <div>&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-range" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM9 8a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1zm-8 2h4a1 1 0 1 1 0 2H1v-2z"/>
      </svg><strong >&nbsp;&nbsp;&nbsp;Charts</strong></div>

    </div>
  </div>

  <div class="row">
    <div class="col-12 text-muted">
  <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Help</small>
    </div>
  </div>

  <strong class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Documents</strong>













</div>
<div class="main">
    <div class="row bg-white">

      <div class="col-sm-9">
        <div class="navbar-item pull-left h5 ng-binding p-3" ng-bind="$state.current.data.title" id="pageTitle">Dashboard <i class="fa fa-fw fa-plus text-muted"></i>New</div>
      </div>

      <div class="col-sm-2 pt-2 mt-1">
        <form class="form-inline" action="/action_page.php">
          <input style="border-radius: 20px" class="form-control border-top  ml-5" type="text" placeholder="Search projects...">
        </form>
      </div>
      <div class="col-sm-1 pt-2">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell ml-5 mt-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
          <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
        <img class="p-1 rounded-circle float-right" src="../../../assets/images/profil.jpg" height="40" width="40"/>
      </div>
    </div>

<div class="row bg-white border">
  <div class="col-sm-6 p-3"><h4>Welcome to Flatkit</h4><small class="text-muted">Bootstrap <strong>4</strong> Web App Kit with AngularJS</small></div>
  <div class="col-sm-6 text-sm-right pt-4">
    <div class="m-y-sm">
    <span class="m-r-sm">Start manage:</span>
    <div class="btn-group dropdown">
    <button class="btn white btn-sm border">Projects</button>
    <button class="btn white btn-sm dropdown-toggle border" data-toggle="dropdown"></button>
    <div class="dropdown-menu dropdown-menu-scale pull-right">
    <a class="dropdown-item" href="">Members</a>
    <a class="dropdown-item" href="">Tasks</a>
    <a class="dropdown-item" href="">Inbox</a>
    <div class="dropdown-divider">

  </div>
    <a class="dropdown-item">Profile</a>
  </div>
  </div>
  </div>
  </div>
</div>

  <div class="row pt-3 px-3">
  <div class=" col-xs-12 col-4">
    <div class="bg-white p-2">
      <span class="w-48 rounded accent float-left pl-3 pt-3"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
</svg>
      </span>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;125 <small class="text-sm">Emails</small><br>&nbsp;&nbsp;&nbsp;<small class="text-muted">6 new arrivals.</small></h4>

    </div>
  </div>

    <div class="col-xs-6 col-4">
      <div class="bg-white p-2"><span class="w-48 rounded accent float-left pl-3 pt-3"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        <path fill-rule="evenodd" d="M4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z"/>
      </svg></span>
        <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;40 <small class="text-sm">Projects</small><br>&nbsp;&nbsp;&nbsp;<small class="text-muted">38 open.</small></h4>
      </div>
    </div>

  <div class=" col-xs-6 col-4">
    <div class="bg-white p-2"><span class="w-48 rounded accent float-left pl-3 pt-3"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg></span>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;600 <small class="text-sm">Users</small><br>&nbsp;&nbsp;&nbsp;<small class="text-muted">632 vips.</small></h4>
    </div>
  </div>
</div>



  <div class="row pt-3 px-3">
    <div class=" col-xs-12 col-4">
      <div class="bg-white p-2">
        <h3>Projects monitor<svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>

            <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg>

        </h3>
        <small>Calculated in last 30 days</small>
        <br>
        <br>
        <div class="text-center">
        <button class="btn white btn-sm border">Month</button>
        <button class="btn white btn-sm border border-left-0">Day</button><br>
        <img class="" src="../../../assets/images/resim1.jpg" width="520" height="188">
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-4">
      <div class="bg-white p-2">
        <h3>Tasks <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
          <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg>
        </h3>
        <small>Calculated in last 7 days</small>
        <br>
        <br>
        <div class="text-center">
        <button style="border-bottom-left-radius: 20px;border-top-left-radius: 20px" class="btn white btn-sm border"> This Month</button>
        <button style="border-bottom-right-radius: 20px;border-top-right-radius: 20px" class="btn white btn-sm border border-left-0">This Week</button><br>
        <img class="" src="../../../assets/images/resim2.jpg" width="520" height="188">
      </div>
    </div>
    </div>
    <div class=" col-xs-6 col-4">
      <div class="bg-white p-2">
        <h3>Sales <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
          <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg>
        </h3>
        <small>Calculated in last 7 days</small>
        <br>
        <br>
        <div class="text-center">

        <button style="border-bottom-left-radius: 20px;border-top-left-radius: 20px" class="btn white btn-sm border">Market</button>
        <button style="border-bottom-right-radius: 20px;border-top-right-radius: 20px" class="btn white btn-sm border border-left-0">Referral</button><br>

        <img class="" src="../../../assets/images/resim3.jpg" width="520" height="188">
        </div>
      </div>
    </div>
  </div>



  <div class="row pt-3 px-3">
    <div class="col-md-6">
    <div class="bg-white p-2">
      <h3>Open Projects <span class="label warning">9</span></h3>
      <small class="text-muted">Your data status</small>
      <br>
      <br>
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs white border">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <img class="float-left" src="../../../assets/images/bootlogo.jpg" height="40" width="40"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;Broadcast web app mockup<br>&nbsp;&nbsp;&nbsp;<span class="text-muted"><strong>5</strong> tasks, <strong>3</strong> issues</span></h4>
      <hr>

      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs white border">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <img class="float-left rounded-3" src="../../../assets/images/goog.jpg" height="40" width="40"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;GoodDesign Bootstrap 4 migration<br>&nbsp;&nbsp;&nbsp;<span class="text-muted"><strong>35</strong> tasks, <strong>6</strong> issues</span></h4>
<hr>
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs border">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <img class="float-left rounded-3" src="../../../assets/images/goog.jpg" height="40" width="40"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;GoodDesign Bootstrap 4 migration<br>&nbsp;&nbsp;&nbsp;<span class="text-muted"><strong>35</strong> tasks, <strong>6</strong> issues</span></h4>
      <hr>
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs border">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>

      <img class="float-left rounded-3" src="../../../assets/images/google.jpg" height="40" width="40"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;Google material design application<br>&nbsp;&nbsp;&nbsp;<span class="text-muted"><strong>15</strong> tasks, <strong>3</strong> issues</span></h4>
      <hr>
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs white border">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <img class="float-left rounded-3" src="../../../assets/images/images.jpg" height="40" width="40"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;Facebook connection web application<br>&nbsp;&nbsp;&nbsp;<span class="text-muted"><strong>30</strong> tasks, <strong>5</strong> issues</span></h4>

    </div>
    </div>










    <div class="col-6 ">
    <div class="bg-white">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right mt-4 mr-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
      </svg>
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right mt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg>
      <h3 class="ml-3 pt-2">Stats</h3>
      <small class="text-muted pl-2">Your data status</small>
      <table class="table">

        <thead>
        <tr>
          <th style="width:60px;" class="text-center">Graph</th>

          <th>Item</th>
          <th style="width:70px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <img class="float-left" src="../../../assets/images/resim4.jpg" height="30" width="50"/>
          </td>

          <td>App downloads</td>
          <td class="text-success">
            <i class="fa fa-level-up"></i> 40%
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <img class="float-left" src="../../../assets/images/resim5.jpg" height="30" width="50"/>
          </td>
          <td>Social connection</td>
          <td class="text-success">
            <i class="fa fa-level-up"></i> 20%
          </td>
        </tr>
        <tr>
          <td>
            <img class="float-left" src="../../../assets/images/resim6.jpg" height="30" width="50"/>
          </td>
          <td>Revenue</td>
          <td class="text-warning">
            <i class="fa fa-level-down"></i> 5%
          </td>
        </tr>
        <tr>
          <td>
            <img class="float-left" src="../../../assets/images/resim7.jpg" height="30" width="50"/>
          </td>
          <td>Customer increase</td>
          <td class="text-danger">
            <i class="fa fa-level-down"></i> 20%
          </td>
        </tr>
        <tr>
          <td>
            <img class="float-left" src="../../../assets/images/resim8.jpg" height="30" width="50  "/>
          </td>
          <td>Order placed</td>
          <td class="text-warning">
            <i class="fa fa-level-down"></i> 5%
          </td>
        </tr>
        <tr>
          <td>
            <img class="float-left" src="../../../assets/images/resim8.jpg" height="30" width="50  "/>
          </td>
          <td>Order placed</td>
          <td class="text-warning">
            <i class="fa fa-level-down"></i> 5%
          </td>
        </tr>

        </tbody>
      </table>





    </div>
  </div>
</div>










</div>











